# Apple Specific
.DS_Store

# Python related
*.pyc
*.py.swp

# Jupyter Notebook related
.ipynb_checkpoints/

# LaTeX related
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.log
*.run.xml

# Report related (due to PDF renaming)
main.pdf
main.synctex.gz